.btn {
    padding: 0.75rem 2rem;
    transition: background-color var(--transition), color var(--transition);
    font-weight: var(--fw-500);
    display: inline-block;
    border-radius: 0;
}

// .btn-primary,
// .btn-outline-primary {
//     color: var(--col-white);
//     &:hover {
//         color: var(--col-white);
//         background-color: color-mix(in srgb, var(--col-coral), var(--col-black) 10%);
//     }
// }

.btn-outline-white,
.wpcf7-submit.wpcf7-submit-white[type=submit] {
    color: var(--col-white);
    border: 2px solid var(--col-white);
    background-color: transparent;
    &:hover {
        background-color: var(--col-white);
        color: var(--col-blue-400);
    }
}

.btn-primary,
.btn-outline-primary,
.wpcf7-submit.wpcf7-submit-blue[type=submit],
.btn-outline-blue {
    color: var(--col-blue-400);
    border: 2px solid var(--col-blue-400);
    background-color: transparent;
    &:hover {
        background-color: var(--col-blue-400);
        color: var(--col-white);
    }
}